# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
MONGO_DB_NAME=idomods
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=mongoPass

# Idosell API Configuration
IDOSELL_ORDERS_URL=https://zooart6.yourtechnicaldomain.com/api/admin/v7/orders/orders?extra <- I had to add any query param to fetch all orders idk why.
IDOSELL_API_KEY=YXBwbGljYXRpb24xNjpYeHI1K0MrNVRaOXBaY2lEcnpiQzBETUZROUxrRzFFYXZuMkx2L0RHRXZRdXNkcmF5R0Y3ZnhDMW1nejlmVmZP

# Application Configuration
PORT=3000
POLLING_INTERVAL_MINUTES=5

# Security Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://example.com

